.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.photo {
  margin-top: 20px;
  margin-left: 10px;
  /* margin-bottom: 1 */
  height: auto;
  width: auto;
  /* max-height: 10% !important; */
  max-width: 200px;
  max-height: 180px;
  /* min-width: 15%; */
  /* max-width: 50%; */
  /* padding-top: ; */
  float: right;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
}

.App-header {
  background-color: white;
  width: 100%;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  text-align: left;
  font-size: calc(30px + 4vmin);
  color: black;
}

.Job-Description {
  background-color: white;

  /* padding-left: 15%;
  padding-right: 15%; */
  flex-direction: column;
  text-align: justify;
  text-justify: inter-word;
  align-items: flex-start;
  margin-top: 5px;
  font-size: max(calc(15px), calc(4px+2vmin));

  color: black;
}
.CV-button {
  background-color: transparent !important;
  border-color: transparent !important;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: left;
  transform: translateY(-40%);
  font-size: 40px !important;
  color: black !important;
}

.Entered {
  transition: transform 0.3s linear;
}

.Exited {
  background-color: transparent;
  transform: translateY(-100%);
  transition: transform 1s linear;
  color: transparent;
}

.CV-subsection-header {
  /* padding-top: 2vh; */
  /* min-height: 5vh; */
  background-color: white;
  font-size: max(calc(4px + 2vmin), calc(14px));
  color: black !important;
  font-weight: bold;
  font-style: italic;
}

.CV-workplace-header {
  background-color: white;
  font-size: max(calc(4px + 2vmin), calc(14px));
  color: black;
  font-weight: bold;
  font-style: italic;
}

.CV-dates {
  background-color: white;
  font-size: max(calc(2px + 2vmin), calc(14px));
  color: black;
  text-align: right;
  font-style: italic;
}

.Infrastructure {
  width: 100%;
  padding-left: 8% !important;
  padding-right: 8% !important;
}

.CV-headers {
  padding-bottom: 2vh;
  background-color: white;

  font-size: calc(10px + 4vmin);
  color: black;
}

.Nav-bar {
  background-color: black;
  color: white;
  min-height: 5vh;
  width: 100%;
  /* text-align: center; */
}
.CV-center {
  background-color: white;
  font-size: max(calc(4px + 2vmin), 14px);
  color: black;
}

.Contact-info {
  background-color: white;

  /* padding-left: 15%;
  padding-right: 15%; */

  /* padding-top: 5px; */
  font-size: max(calc(4px + 2vmin), calc(14px));
  color: black;
}
.App-center {
  background-color: white;
  min-height: 10vh;
  text-align: justify;
  text-justify: inter-word;
  margin-top: 10px;
  font-size: max(calc(3vmin), 20px);
  color: black;
}

.App-sidebars {
  background-color: #b4e2eb;
  min-height: 100vh;
  width: 20%;

  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
